// Primary colors

$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);

$fontSize: 13px;

$fontFamily: "Manrope", sans-serif;

// Width
$containerWidth: 1100px;
$mobileWidth: 360px;
$tabletWidth: 770px;

// flex
$flexBasis50: 1 1 50%;
